html, body {
	margin: 0;
	padding: 0;
	font-family:sans-serif;
	overflow: hidden;
	-ms-touch-action: none;
}
.sp-replacer {
	border: 1px solid gray;
}
.full-spectrum .sp-palette {
	max-width: 200px;
}

#toolbar {
	margin: 5px;
}
#board {
	margin: 0;
	cursor: crosshair;
	position: absolute;
}
#strokeSize {
	width: 300px;
	height: 1em;
}
#strokeSizeVal {
	border: 1px solid gray;
	border-radius: 4px;
	width: 40px;
	height: 25px;
	font-size: 1em;
}
